
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
body{
    background:#1a1111 url(assets.img/image\ 9.png);
    font-family: inter;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
header img{
    margin-top: 15px;
}
div{
    color: #FFFFFF;
}
form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
}
form input{
    height: 40px;
    border-radius: 50px;
    border: 0px;
    margin-bottom: 15px;
    background-color: #7F7F7F;
    color:#FFFFFF;
}
form input[type="submit"]{
    width: 200px;
    background-color:#8C77E0;
    color:#FFFFFF
}